/* Adjust CSS to make it work for all resoultion  */
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
    background-color: rgb(159, 170, 159);
    height: 100vh;
}

.contact-header{
    color: rgb(57, 82, 61);
    margin: 0.5rem 0;
}
.contact-form {
    display: flex;
    flex-direction:column;
    align-items: center;
    border-radius: 5px;
    background-color: var(--secondary);
    /* margin: 5rem 8rem 5rem 8rem; */
    padding: 3%;
    box-shadow: 0 0 25px var(--darker);
}
.contact-label {
    padding:0.25rem 0;
    margin: 0.5rem;
    font-weight: 800;
    color: #77402f;
}
.contact-input {
    margin: 0.5rem 0;
    padding: 1rem 25vh 1rem 1rem;
    border: none;
    color: #77402f;
    border-radius: 20px;
}
.contact-text {
    border-style: none;
    border-radius: 20px;
    padding: 1rem 25vh 1rem 1rem;
    max-height: 500vh;
    min-height: 15vh;
    resize: none;
}

.contact-button{
    background-color: none;
    border:none;
    margin: 2rem 0;
    align-items: left;
    background-color: var(--darker);
    color:var(--light);
    padding:20px;
    border-radius: 10px;
    cursor: pointer;
    width: 150px;
    font-size: medium;
}