.lead-page{
  background-color: var(--light);
  height: 100%;
  padding: 5%;
}

.board {
  text-align: center;
  margin: 2% 5% 5% 5%;
  
}

.leaderboard {
  padding: 2%;
  font-size: 6vh;
  color: var(--darker);
}

.board .duration {
  display: flex;
  justify-content: center;
}

.board-container {
  padding: 0 2% 0 2%;
  margin: 0 30% 0 30%;
  border-style: groove;
  border-color: var(--default);
  background-color: cornsilk;
}

.board-button{
  padding: 1%;
  border: none;
  margin: 0 1% 3% 1%;
  border-radius: 10px;
  background-color: var(--default);
  color: white;
  font-size: medium;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(243, 95, 9, 0.2);
}
#profile {
  margin-top: 3em;
}

#profile .flex {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  text-align: left;
  margin-bottom: 2em;
}

#profile .flex .item {
  display: flex;
  align-items: center;
  color: var(--darker);
}

#profile .flex img {
  width: 20%;
  border-radius: 50%;
}

#profile .flex .info {
  padding: 1em;
}

.text-dark {
  color: var(--color-dark);
}

#profile {
  margin-top: 3em;
}
