@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
	text-decoration: none;
	list-style: none;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-color: var(--primary);
	color: var(--light);
}

.logo{
	text-decoration: none;
	padding: 20px;
}

.logo a{
	font-size: 2rem;
	color: var(--light);
}

nav a {
	margin: 0 5rem;
    padding: 15px;
    display: block;
	color: var(--light);
}

nav li.active {
	background-color: var(--dark);
	border-radius: 20px;
}

nav li:hover{
	background-color: var(--darker);
	border-radius: 20px;
	transition: 0.02s;
}

.play{
    margin: 10px;
    padding: 10px 35px 10px 35px;
    color: aliceblue;
    background-color: var(--dark);
    border: solid var(--dark);
    border-radius: 10px;
}

.login{
    padding: 10px 35px 10px 35px;
    color: aliceblue;
    background-color: var(--dark);
    border: solid var(--dark);
    border-radius: 10px;
}


header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--light);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}


header div,
nav {
	display: flex;
	align-items: center;
}

.mobile-only{
	opacity: 0;
	visibility: hidden;
	display: none;
}

@media only screen and (max-width: 1024px) {
	.mobile-only{
		opacity: 1;
		visibility: visible;
		display: flex;
	}
    .lft-btn{
        opacity: 0;
        visibility: hidden;
        display: none;
    }
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--primary);
		transition: 1s;
		transform: translateY(-100vh);
		z-index: 50;
	}

	header .responsive_nav {
		transform: none;
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
}