
@import url("https://fonts.google.com/share?selection.family=Bungee%20Inline%7COpen%20Sans");
/* To match pitch board: red color and retro font
.register-header, .link-button, .register-button{
    font-family: 'Bungee Inline';
    color:rgb(181,32,43);
} */

.register-container{
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.register-container{
    display: flex;
    flex-direction:column;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.reg-logo{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: -1;
}
.register-form{
    display: flex;
    flex-direction:column;
    align-items: center;
    border-radius: 5px;
    background-color: var(--secondary);
    margin: 5rem 8rem 5rem 8rem;
    padding: 3%;
    z-index: 2;
    box-shadow: 0 0 25px rgb(255, 250, 180);
}
.register-header{
    font-size: 25px;
    color: #77402f;
    margin: 0.5rem 0;
}

.reg-label{
    padding:0.25rem 0;
    margin: 0.5rem;
    font-weight: 800;
    color: #77402f;
}

.reg-input{
    margin: 0.5rem 0;
    padding: 1rem 15vh 1rem 1rem;
    border: none;
    color: #77402f;
    border-radius: 20px;
}

.reg-input:focus{
    border: 2px solid var(--primary);
    outline: none;
}

.link-button{
    background-color: none;
    border:none;
    margin: 0.5rem 0;
    align-items: left;
    background-color: hsl(120, 100%, 50%, 0);
    color:#8b6b4f;
    cursor: pointer;
    width: 150px;
    font-size: medium;
}

.register-button{
    background-color: none;
    border:none;
    margin: 0.5rem 0;
    align-items: left;
    background-color: var(--darker);
    color:black;
    padding:20px;
    border-radius: 10px;
    cursor: pointer;
    width: 150px;
    font-size: medium;
}

@media only screen and (max-width: 1024px) {
}