@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* :root{
    --primary: #ffb5a7;
    --secondary: #f9dcc4;
    --default: #fcd5ce;
    --dark: #fec89a;
    --darker: #d4a57c;
    --light: #f8edeb;
    --pale: #c4a6a1;
} */

:root{
    --primary: #a3a380;
    --secondary: #e9e4c0;
    --default: #d6ce93;
    --dark: #d8a48f;
    --darker: #bb8588;
    --light: #efebce;
    --font: #815c5e;
}